In [6]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
import tweepy
import time
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

#pointing to the directory where chromedriver exists
executable_path = {"executable_path":"C:\Webdrivers\chromedriver_win32\chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

api = "https://mars.nasa.gov/news/"

driver = webdriver.Chrome()
driver.get(api)

In [10]:
soup =  BeautifulSoup(driver.page_source, "html.parser")
news_title = soup.find_all("div", {"class": "content_title"})
news_title[0].find("a").get_text()

"Six Things About Opportunity's Recovery Efforts"

In [19]:
soup =  BeautifulSoup(driver.page_source, "html.parser")
news_p = soup.find_all("div", {"class": "rollover_description_inner"})
news_p[0].get_text()

'The global dust storm on Mars could soon let in enough sunlight for the Opportunity rover to recharge.'

In [28]:
# JPL image
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(jpl_url)

# time.sleep(1)
# browser.click_link_by_partial_text('FULL IMAGE')
# time.sleep(1)
# expand = browser.find_by_css('a.fancybox-expand')
# time.sleep(1)

# jpl_html = browser.html
# jpl_soup = BeautifulSoup(jpl_html, 'html.parser')

# img_relative = jpl_soup.find('img', class_='fancybox-image')['src']
# image_path = f'https://www.jpl.nasa.gov{img_relative}'
# print(image_path)

In [30]:
base_url= "https://www.jpl.nasa.gov/"

In [31]:
#Design an xpath selector to grab the image
xpath = "//*[@id=\"page\"]/section[3]/div/ul/li[1]/a/div/div[2]/img"

In [32]:
#image
results = browser.find_by_xpath(xpath)
img = results[0]
img.click()

In [34]:
#get image url using BeautifulSoup
    
html_image = browser.html
soup = BeautifulSoup(html_image, "html.parser")
img_url = soup.find("img", class_="fancybox-image")["src"]
full_img_url = base_url + img_url
print(full_img_url)

https://www.jpl.nasa.gov//spaceimages/images/largesize/PIA22624_hires.jpg

In [36]:
# Twitter-Weather
consumer_key ="qN0U90cXCQTIV57XZRYOD0Znr"
consumer_secret = "UiyILUuUOzkNnTTyvubQePtahZiFQ8XzTTGWH34ekrKQEigbdQ"
access_token = "1009210970554576896-tONBAz2Dw4lqGaLj3QbDB5wZVOR0yR"
access_token_secret = "nRqUtNUSbltiz9Kkkz35R9mg0l186jRLOHsHlsekxsvgO"

# Use Tweepy to Authenticate our access
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

# Target User
target_user = "@MarsWxReport"

# Get tweet
tweet = api.user_timeline(target_user, count=1)[0]

# Store weather
mars_weather = tweet['text']

In [37]:
print(mars_weather)

Sol 2142 (2018-08-15), high -10C/14F, low -71C/-95F, pressure at 8.65 hPa, daylight 05:28-17:41

In [38]:
#Mars Facts
mf_url = "https://space-facts.com/mars/"

In [39]:
table = pd.read_html(mf_url)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [ ]:
#mars hemispheres